* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(44, 44, 78);
    color: white;
  }
  
  /* menu */
  .menu {
    display: flex;
  }
  
  .header {
    height: 100vh;
    background-color: rgb(44, 44, 78);
    min-width: 15%;
  }
  
  .header ul {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    list-style: none;
  }
  
  .header ul li {
    padding: 15px 10px;
  }
  
  .header ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .header ul li a i {
    margin-right: 10px;
  }
  
  .active {
    background-color: blue;
    color: white;
    padding: 15px 10px;
    border-radius: 5px;
  }
  
  /* section */
  
  .section {
    background-color: rgb(9, 9, 43);
    width: 100%;
    padding: 30px;
  }
  
  .section_1 {
    /*  */
  }
  
  .image {
    background-image: url('section.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    border-radius: 20px;
    color: white;
    padding: 30px;
  }
  
  .image_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .image_text_1 {
    background-color: rgb(77, 75, 75);
    opacity: 0.8;
    width: 240px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .time h1{
     font-size: 60px;
  } 
  
  .time h1 span{
     font-size: 20px;
  }
  
  .time p{
      font-size: 17px;
      font-weight: 700;
  }
  
  /* section 2 */
  
  .section_2{
    display: flex;
    color: white;
    margin-top: 25px;
    justify-content: space-between;
  }
  
  .box{
    width: 300px;
    height: 300px;
    /* background-color: yellow; */
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .box i{
     background-color: gray;
     opacity: 0.8;
     border-radius: 5px;
     max-width: 35px;
     display: inline-block;
     padding: 10px;
  }
  
  .box div p{
     font-size: 25px;
     font-weight: 600;
  }